<div class="postcheck">
  <h2>Post Merge Analysis</h2>
  <div class="postchecktable">
    <table class="table table-striped table-sm table-bordered">
      <thead>
        <tr>
          <th style="background-color:#23807e; width: 29%"></th>
          <th style="background-color:#23807e; width: 39%">
            Source UPI: 123456789<br />
            Source Name
          </th>
          <th style="background-color:#23807e; width: 39%">
            Target: 987654321<br />
            Target Name
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th style="width: 29%">SSN</th>
          <td style="width: 39%"></td>
          <td style="width: 39%"></td>
        </tr>
        <tr>
          <th>SSN Alias</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Case Suffix</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Case STS</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Case Type</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Person Record OK</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Is on IVA Case</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">ICI #</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">CST Name</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Children</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">TWNFAM_NCP Referrals</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Docket/Order</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Reciepts/Payments</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Warrants</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Debit Card</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Job History/Wage Details</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Previously Merged</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">NCP Name</th>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="ipostchecknote">
    NOTES:<br />
    <textarea rows="4" cols="50">
    Notes on the post merge
</textarea
    >
    <p>
      <button class="btn-success">Save</button>
      <button class="btn-success">Return</button>
    </p>
  </div>
</div>
