<p>
  <label for="srcUPI">Source UPI:</label>
  <input
    type="number"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    id="srcUPI"
    maxlength="9"
  />
  <label for="tgtUPI">Target UPI:</label>
  <input
    type="number"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    id="tgtUPI"
    maxlength="9"
  />
  <label for="rqstDate">Request Date:</label>
  <input type="date" id="rqstDate" />
</p>
<p>
  <label for="tcktDate">Ticket Date</label> <input type="date" id="tcktDate" />
  <label for="tcktNum">Ticket Number</label>
  <input
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    type="number"
    id="tcktNum"
    placeholder="00000000"
    maxlength="8"
  /><span class="inputNote">(do not enter date portion of OTRS ticket)</span>
</p>

<span class="get-inline">
  Merge Type <select>
    <option value="mType_ncp">NCP</option>
    <option value="mType_cst">CST</option>
    <option value="mType_chd">Child</option>
  </select>
  Program Type: <input type="checkbox" id="fame" name="fame" />
  <label for="fame">FAME</label> <input type="checkbox" id="ivd" name="ivd" />
  <label for="ivd">IV-D</label>
</span>

<table class="table table-striped table-sm table-bordered table-responsive">
  <thead>
    <tr>
      <th scope="col" colspan="3">RETREIVED CASE INFORMATION</th>
    </tr>
    <tr>
      <th scope="col"></th>
      <th scope="col">Source</th>
      <th scope="col">Target</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">NCP Name</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">CST Name</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">CHD Name</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">HOH SSN</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">HOH</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">IVA-ICI</th>
      <td></td>
      <td></td>
    </tr>
    <!--
      <tr>
        <th scope="row">DCFS ID (DETERMINED IN PREMERGE)</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">MED # (DETERMINED IN PREMERGE)</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Case Begin Date (DETERMINED IN PREMERGE)</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Most Recent Case Status (DETERMINED IN PREMERGE)</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">All Program Type Codes (DETERMINED IN PREMERGE)</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Program Status Codes (DETERMINED IN PREMERGE)</th>
        <td></td>
        <td></td>
      </tr>
    -->
    <tr>
      <th scope="row">IVD-NCP</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">IVD-CST</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">IVD-CHD</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Debit Card</th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<div>
  <button type="button" class="btn btn-primary">submit</button>
  <!-- <button type="button" class="btn btn-info">pre-merge</button>
  <button type="button" class="btn btn-danger">post-merge</button> -->
</div>
